<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
                        "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">

  <taglib>  
  <tlib-version>1.0</tlib-version>
  <jsp-version>1.2</jsp-version>
  <short-name>extchart</short-name>
  <uri>http://open-esb.dev.java.net/extchart/extchart</uri>
  <description>
    ext chart
  </description>
  <tag><name>extchart</name>
  <tag-class>org.openesb.tools.extchart.jsf.ExtChartTag</tag-class>
<attribute> 
    <name>id</name> 
     <required>false</required>
    <rtexprvalue>false</rtexprvalue>
</attribute> 
<attribute> 
    <name>rendered</name>
     <required>false</required>
    <rtexprvalue>false</rtexprvalue>
</attribute>
<attribute> 
    <name>propertyGroups</name>
    <required>false</required>
    <rtexprvalue>false</rtexprvalue>
</attribute>
<attribute> 
    <name>dataAccess</name>
    <required>false</required>
    <rtexprvalue>false</rtexprvalue>
</attribute>

</tag>
</taglib>